
{{define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Forum</title>

    <!-- Styling -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/createpost.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/signup.css">

    <!-- scripts -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <!-- <script src="/static/scripts/createposts.js"></script> -->
</head>

<body>
    <div class="app">
        {{block "header" .}} {{end}}
        {{ block "headerjs" .}} {{end}}
        <div class="main-container">
           {{ if eq .Page "home"}}
                {{block "sidebar" .}} {{end}}
           {{ end }}

           <!-- Page Content -->
           <main class="main-content">
             {{block "content" .}} {{end}}
           </main>
           
            {{ block "homescript" .}} {{end}}
            {{ block "loginscript" .}} {{end}}
            {{ block "signupscript" .}} {{end}}
        </div>
       {{ block "footer" .}}{{end}}
    </div>
</body>
</html>
{{end}}
