{{define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Forum</title>

    <!-- Styling -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <!-- <link rel="stylesheet" href="/static/css/comment.css"> -->
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/signup.css">

    <!-- Page-Specific Styles -->
{{ if or (eq .Page "home") (eq .Page "profile") }}
<link rel="stylesheet" href="/static/css/comment.css">
{{ end }}

{{ if eq .Page "profile"}}
<link rel="stylesheet" href="/static/css/profile.css">
{{ end }}


    <!-- scripts -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <div class="app">
        {{block "header" .}} {{end}}
        {{ block "headerjs" .}} {{end}}
        <div class="main-container">

            {{ if eq .Page "home"}}
                {{block "sidebar" .}} {{end}}
            {{ else }}
                {{ if eq .Page "profile"}}
                    {{block "profilesidebar" .}} {{end}}
                {{end}}
            {{ end }}

            <!-- Page Content -->
            <main class="main-content">
                {{ if eq .Page "profile"}}
                    {{block "profileContent" .}} {{end}}
                {{ else }}
                    {{block "content" .}} {{end}}
                {{end}}
            </main>

            {{ if eq .Page "profile"}}
                {{block "profilescript" .}} {{end}}
            {{ else }}
                {{ block "homescript" .}} {{end}}
                {{ block "loginscript" .}} {{end}}
                {{ block "signupscript" .}} {{end}}
            {{end}}
        </div>

       {{ block "footer" .}}{{end}}
    </div>
</body>
</html>
{{end}}
