{{define "header"}}
<header class="header">
	<div class="header-container">
		<div class="header-left">
			<button
				class="menu-button"
				id="menuToggle"
			>
				<i data-lucide="menu"></i>
			</button>
			<h1 class="logo">Forum</h1>
			<div
				class="search-container"
				id="searchInput"
			>
				<i data-lucide="search"></i>
				<input
					type="text"
					placeholder="Search discussions..."
				/>
			</div>
		</div>
		<div class="profile-image">
			<img
				id="userProfileImage"
				src=""
				alt=""
			/>
		</div>
		<div class="header-right">
			<button
				class="icon-button"
				id="darkModeToggle"
			>
				<i data-lucide="moon"></i>
			</button>
			<button class="icon-button"><i data-lucide="bell"></i></button>
			<a
				href="/auth"
				class="sign-in-button"
				>Sign In</a
			>
		</div>
	</div>
</header>
{{end}} {{define "headerjs"}}
<script
	src="/static/scripts/header.js"
	type="module"
></script>
{{end }}
