{{ define "sidebar"}}
<aside class="sidebar" id="sidebar">
    <nav>
        <ul class="category-list">
            <li> <button class="category-button"> <i data-lucide="hash"></i>
                    <span>All Posts</span>
                </button> </li>
            <li> <button class="category-button"> <i data-lucide="newspaper"></i>
                    <span>Latest</span>
                </button> </li>
            <li> <button class="category-button"> <i data-lucide="star" i></i>
                    <span>Popular</span> </button>
            </li>
            <li> <button class="category-button"> <i data-lucide="users"></i>
                    <span>Communities</span>
                </button> </li>
            <li> <button class="category-button"> <i data-lucide="message-square"></i>

                    <span>Discussions</span> </button> </li>
            <li> <button class="category-button"> <i data-lucide="bookmark"></i>
                    <span>Bookmarks</span>
                </button> </li>
        </ul>
    </nav>
</aside>
{{end}}
